.report {
    font-size: 16px;
}
.vert {
    transform-origin: 0 50%;
    transform: rotate(-90deg); 
    white-space: nowrap; 
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
}
table, tr, td, th {
    border: 1px solid rgb(206, 206, 206);
    position: relative;
    padding: 10px;
    width: 100%;
    
  }
  
  td span {
    transform-origin: 0 50%;
    transform: rotate(-90deg); 
    white-space: nowrap; 
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  table > tr .table-head {
    background-color: #3d9970;
  }
  